$border-bottom: 1px solid rgba(255, 255, 255, .2);

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
}

* {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    font-family: "Roboto", "Arial", sans-serif;
    color: #ffffff;
    background-color: #849d8f;
}

.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 27px;
}

.page-header {
    margin: 10px 0;
}

.page-header-nav {
    display: flex;
    align-items: center;
    height: 64px;

    .page-header-logo {
        width: 154px;
        height: 64px;
    }

    .nav-items {
        margin-right: auto;
        display: flex;
    }

    .nav-user-items {
        display: flex;
    }
}

.nav-item {
    margin-left: 25px;

    a {
        text-decoration: none;
        font-weight: 700;
        line-height: 18px;
        color: #ffffff;
        border-bottom: $border-bottom;
    }
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    vertical-align: middle;
    text-decoration: none;
    color: #ffffff;
    background-image: linear-gradient(#f26843, #e74a35);
    border-radius: 32px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, .64);
    /*text-shadow: 0 2px 5px rgba(160, 32, 11, .76);*/
}

.nav-user-item {
    margin-left: 10px;

    .btn {
        position: relative;
        height: 32px;
        padding: 8px 10px;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        border-radius: 16px;
        background: rgba(255, 255, 255, .2);
        box-shadow: none;
        text-shadow: none;
    }
}

.nav-user-basket .btn {
    min-width: 117px;
    padding-left: 45px;

    &::before {
        content: url(../img/icons/basket.svg);
        position: absolute;
        top: 6px;
        left: 15px;
    }
}

.nav-user-login .btn {
    width: 92px;
    padding-left: 45px;

    &::before {
        content: url(../img/icons/login.svg);
        position: absolute;
        top: 6px;
        left: 15px;
    }
}

.nav-user-search .btn {
    width: 32px;
    font-size: 0;

    &::before {
        content: url(../img/icons/loupe.svg);
        position: absolute;
        top: 7px;
        left: 8px;
    }
}


.form-group { /*общая для всех груп*/
    position: relative;
    display: flex;
    margin: 0;

    input {
        /*flex-grow: 1;*/
        height: 44px;
        /*margin-right: 10px;*/
        padding: 10px;
        font: inherit;
        font-weight: 700;
        color: #000;
        border: 1px solid rgba(178, 178, 178, .52);
        border-radius: 10px;
    }

    label {
        position: absolute;
        top: 12px;
        left: 10px;
        font-size: 14px;
        line-height: 24px;
        color: #999;
        pointer-events: none;
        transition-duration: 0.2s;
    }

    input:focus ~ label {
        font-size: 11px;
        line-height: 13px;
        color: #5b9ddf;
        transform: translateY(-30px);
    }
}


.aside-info {
    position: absolute;
    top: 65px;
    right: 27px;
    text-align: right;
    z-index: 2;

    .work-time {
        margin: 0;
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 700;
    }

    .tel {
        font-size: 22px;
        line-height: 24px;
        font-weight: 700;
        text-decoration: none;
        color: #ffffff;
    }
}


/*slider*/

.slider {
    height: 560px; 
    width: 667px;
    margin: 0 auto;
}

.slider > input {
    display: none;
}

.slider-controls {
    position: absolute;
    top: 475px;
    left: 27px;

    label {
        box-sizing: border-box;
        display: inline-block;
        width: 21px;
        height: 21px;
        margin-right: 5px;
        border: 2px solid #fff;
        border-radius: 50%;
        cursor: pointer;
    }   

    label:hover {
        background-color: rgba(255, 255, 255, .4);
    }
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-color: #fff;
}

.slider-slides {
    position: relative;
}

.slides-item {
    
    img {
        position: absolute;
        opacity: 0;
        transition: opacity 1s;
        z-index: 1;
        margin-left: 10px; /*плохой вариант для выравнивания*/
    }

    b {
        position: absolute;
        top: 310px;
        left: 0;
        opacity: 0;
        text-align: center;
        font-size: 60px;
        line-height: 60px;
        z-index: 2;
    }

    .btn {
        position: absolute;
        top: 460px;
        left: 190px;
        opacity: 0;
        font-size: 32px;
        line-height: 44px;
        padding: 10px 40px;
        z-index: 2;
    }
}

#btn-1:checked ~ .slider-slides .slide-1 img,
#btn-1:checked ~ .slider-slides .slide-1 b,
#btn-1:checked ~ .slider-slides .slide-1 .btn,
#btn-2:checked ~ .slider-slides .slide-2 img,
#btn-2:checked ~ .slider-slides .slide-2 b,
#btn-2:checked ~ .slider-slides .slide-2 .btn,
#btn-3:checked ~ .slider-slides .slide-3 img,
#btn-3:checked ~ .slider-slides .slide-3 b,
#btn-3:checked ~ .slider-slides .slide-3 .btn {
    opacity: 1;
}




.banners {
    margin-bottom: 50px;
    display: flex;
    position: relative;
    z-index: 2;
}

.banner {
    display: flex;
    flex-direction: column;
    width: 560px;
    min-height: 229px;
    padding: 20px;
    border-radius: 15px;

    h3 {
        margin: 0;
        font-size: 35px;
        line-height: 41px;
        font-weight: 700;
    }

    p {
        margin: 15px 0 auto 0;
        font-size: 18px;
        font-weight: 700;
    }

    .btn {
        margin-top: auto;
        margin-left: auto;
    }
}

.raspberries {
    margin-right: 1200px-27*2-560*2; 
    background: url(../img/bg/raspberry.jpg) no-repeat #A9163E;
}

.chocolate {
    background: url(../img/bg/chocolate.jpg) no-repeat #4E2814;
}



.hits {
    margin-bottom: 50px;

    .hits-list {
        display: flex;
    }
}

.hits-item {
    position: relative;
    width: 267px;
    margin-right: 26px;

    &:last-child {
        margin-right: 0;
    }
    
    img {
        border-radius: 50%;
    }

    .hits-item-offer {
        width: 100%;
    }

    .hits-item-hit {
        position: absolute;
        top: 0;
        left: 0;
    }

    .hits-item-price {
        display: block;
        margin: -65px 0 20px 0;
        font-size: 30px;
        line-height: 45px;
        font-weight: 700;
    }

    .hits-item-description {
        margin: 0;
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        text-align: center;
    }
}

.hits-item-price span {
    font-size: 45px;
}

.hits-item-description a {
    text-decoration: none;
    color: inherit;
    border-bottom: $border-bottom;
}


.about-us {
    margin-bottom: 50px;
    width: 100%;
    min-height: 300px;
    padding: 25px 20px 0 20px;
    background: url(../img/bg/waffle.jpg) #EBDDC3;
    border-radius: 15px;

    h2 {
        margin: 0;
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 30px;
        font-weight: 500;
        color: #323232;
    }

    .adventages {
        column-count: 2;
    }

    li {
        position: relative;
        max-width: 540px;
        padding: 10px 0 10px 56px;
        color: #323232;
    }
}

.adventage-production::before {
    content: url(../img/icons/ice-cream.svg);
    position: absolute;
    top: 0;
    left: 0;
}

.adventage-partners::before {
    content: url(../img/icons/cow.svg);
    position: absolute;
    top: 0;
    left: 0;
}

.adventage-materials::before {
    content: url(../img/icons/leaf.svg);
    position: absolute;
    top: 0;
    left: 0;
}

.adventage-delivery::before {
    content: url(../img/icons/thermometer.svg);
    position: absolute;
    top: 0;
    left: 0;
}



.tidings {
    display: flex;
    margin-bottom: 50px;
    
    .tiding {
        width: 560px;
        height: 220px;
        padding: 20px;
        border-radius: 15px;
    }

    .blog {
        padding-right: 18%;
        margin-right: 1200px-27*2-560*2;
        background: url(../img/bg/strawberry.jpg) top right no-repeat #fff;
    }

    .subscribe {
        display: flex;
        flex-direction: column;
        border: 5px solid transparent;
        border-left-width: 6px;
        background-image: 
            linear-gradient(#f8f7f4, #f8f7f4), 
            repeating-linear-gradient(135deg, 
                #f8f7f4 7px, #92cdff 7px,
                #92cdff 14px, #f8f7f4 14px, 
                #f8f7f4 21px, #fe9e90 21px,
                #fe9e90 28px, #f8f7f4 28px, #f8f7f4 35px);
        background-origin: padding-box, border-box;
        background-clip: padding-box, border-box;
    }
}

.blog {
     
    p {
        margin: 5px 0;
        color: #323232;
        font-weight: 500;
    }

    h3 {
        margin: 0;
    }

    a {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        color: #323232;
        background: rgba(255, 255, 255, .75);
    }
}

.subscribe {

    & > p {
        margin: 8px 0 auto 0;
        color: #5a5a5a;
    }
}


.form-subscribe {

    .form-group {
        margin-bottom: 15px;
    }

    input {
        flex-grow: 1;
        margin-right: 10px;
    }

    label {
        font-size: 16px;
    }
}

.map {
    height: 430px;
    background: url(../img/bg/map.jpg) center left no-repeat #EDE6C9;
    background-size: cover;
}



.page-footer {
    display: flex;
    align-items: center;
    height: 100px;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    width: 182px;

    .social-btn {
        display: inline-block;
        vertical-align: middle;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        border: 3px solid rgba(250, 250, 250, .3);
    }

    .social-btn-tw {
        background: url(../img/icons/twitter.svg) no-repeat;
    }

    .social-btn-in {
        background: url(../img/icons/instagram.svg) no-repeat;
    }

    .social-btn-fb {
        background: url(../img/icons/fb.svg) no-repeat;
    }

    .social-btn-vk {
        background: url(../img/icons/vk.svg) no-repeat;
    }
}

.footer-links {
    margin-left: 10px;
    padding-left: 22px;

    a {
        display: table;
        vertical-align: middle;
        margin-bottom: 3px;
        font-size: 13px;
        line-height: 18px;
        color: #fff;
        text-decoration: none;
        border-bottom: $border-bottom;
    }

    .for-suppliers {
        position: relative;
        font-weight: 700;
    }

    .for-suppliers::before {
        content: url(../img/icons/heart.svg);
        position: absolute;
        top: 3px;
        left: -20px;

    }
}

.footer-copyright {
    margin-left: auto;

    p {
        margin: 0;
        font-size: 12px;
        line-height: 18px;
    }

    .link-html-academy {
        color: #fff;
        text-decoration: none;
        border-bottom: $border-bottom;
    }
}







